<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button mat-icon-button class="mat-close" (click)="onClick()">
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup" *ngIf="formGroup">
    <fieldset *ngFor="let item of setting.items">
      <legend>{{item.name}}</legend>
      <div legend-right>{{ item.options[formGroup.controls[item.name].value].viewValue }}</div>
      <mat-slider
        min="0"
        [max]="item.options.length - 1"
      >
      <input [formControlName]="item.name" (input)="onData(item.name, $event)" matSliderThumb>
    </mat-slider>
    </fieldset>
  </form>
</div>
