<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  <div class="mat-basket-container" *ngIf="!data.dialog">
    <mat-chip-list>
      <mat-chip
        *ngFor="let item of items; let idx = index"
        (click)="onBasket(idx)" [ngClass]="{'ms-active': idx === selectedIdx}"
        matRipple
      >
        <p *ngIf="item.info.imgs && item.info.imgs[0]" style="width: 40px;">{{ item.info.header ? item.info.header.main : '' }}</p>
        <p *ngIf="!item.info.imgs || !item.info.imgs[0]">{{ item.info.header ? item.info.header.main : '' }}</p>
        <mat-chip-avatar *ngIf="item.info.imgs && item.info.imgs[0]"><img [src]="item.info.imgs[0]"/></mat-chip-avatar>
      </mat-chip>
    </mat-chip-list>
  </div>
  <button mat-icon-button class="mat-close" (click)="onClick()" *ngIf="!data.dialog">
    <mat-icon>done</mat-icon>
  </button>
</h1>
<div class="mat-basket-content">
  <ms-list
    [url]="data.url"
    [multiple]="data.multiple"
    [actions]="data.actions"
    (msSelect)="onSelect($event)"
    [overlayData]="overlayData"
    (msDelete)="onDelete()"
    [selectable]="!data.dialog && true"
  >
  </ms-list>
</div>
