<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button mat-icon-button class="mat-close" (click)="onClick()">
    <mat-icon>done</mat-icon>
  </button>
</h1>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        <mat-option
          *ngFor="let type of types"
          [value]="type.value"
        >
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
