<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button
    mat-icon-button
    class="mat-close"
    [style.background-color]="formGroup.valid ? 'yellowgreen' : '#f44336'"
    (click)="onClick()"
  >
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup">
    <mat-accordion>
      <mat-expansion-panel formGroupName="data">
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.data.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Personal data</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Status</mat-label>
          <mat-select [formControlName]="'status'">
            <mat-option *ngFor="let status of statuses" [value]="status.value">
              {{ status.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter your first name</mat-label>
          <input matInput [formControlName]="'firstName'" />
          <mat-error *ngIf="formGroup.controls.data.get('firstName').invalid"
            >First name is required!</mat-error
          >
        </mat-form-field>
        <fieldset>
          <legend>Gender</legend>
          <mat-radio-group [formControlName]="'gender'">
            <mat-radio-button value="m">Man</mat-radio-button>
            <mat-radio-button value="w">Woman</mat-radio-button>
          </mat-radio-group>
        </fieldset>
        <mat-form-field>
          <mat-label>Languages</mat-label>
          <mat-select [formControlName]="'languages'" multiple>
            <mat-option
              *ngFor="let language of languages"
              [value]="language.value"
              >{{ language.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Profession</mat-label>
          <mat-select [formControlName]="'profession'">
            <mat-option
              *ngFor="let profession of professions"
              [value]="profession.value"
              >{{ profession.viewValue }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.images.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Images</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card
          matRipple
          default
          *ngFor="let n of numSequence(1); let i = index"
          (click)="openDialog(i)"
        >
          <img *ngIf="images.length > i" mat-card-image [src]="images[i]" />
        </mat-card>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.voice.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Voice</mat-panel-title>
        </mat-expansion-panel-header>

        <fieldset class="voice">
          <legend>Voice</legend>
          <div
            mat-button
            matRipple
            (click)="record()"
            style="margin-left: auto; border-radius: 50%"
          >
            <svg
              [style]="
                '--pos:' + recordPos + ';--buff:0;--limit: 10;width:30px;'
              "
              class="chart"
              viewBox="0 0 24 24"
            >
              <g transform="rotate(-90 12 12)">
                <circle class="pos" r="10" cy="12" cx="12" />
                <circle class="buff" r="10" cy="12" cx="12" />
              </g>
            </svg>
            <mat-icon
              mat-rate
              [ngStyle]="{ color: !isPlay ? 'black' : 'gray' }"
              >{{ isRecord ? 'stop' : 'mic' }}</mat-icon
            >
          </div>
          <div
            mat-button
            matRipple
            (click)="play()"
            style="margin-right: auto; border-radius: 50%"
          >
            <svg
              [style]="
                '--pos:' +
                playPos +
                ';--buff:0;--limit:' +
                playLimit +
                ';width:30px;'
              "
              class="chart"
              viewBox="0 0 24 24"
            >
              <g transform="rotate(-90 12 12)">
                <circle class="pos" r="10" cy="12" cx="12" />
                <circle class="buff" r="10" cy="12" cx="12" />
              </g>
            </svg>
            <mat-icon
              mat-rate
              [ngStyle]="{ color: !isRecord ? 'black' : 'gray' }"
              >{{ isPlay ? 'stop' : 'play_arrow' }}</mat-icon
            >
          </div>
          <audio
            #voiceObj
            preload="none"
            (timeupdate)="updateTime($event)"
            (ended)="ended($event)"
          >
            <source [src]="voiceUrl" type="audio/ogg" />
          </audio>
        </fieldset>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
