<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button
    mat-icon-button
    class="mat-close"
    [style.background-color]="formGroup.valid ? 'yellowgreen' : '#f44336'"
    (click)="onClick()"
  >
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup">
    <mat-accordion>
      <mat-expansion-panel formGroupName="data">
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.data.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Info</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select
            [formControlName]="'type'"
            (selectionChange)="onTypeChange($event)"
          >
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter name</mat-label>
          <input matInput [formControlName]="'name'" />
          <mat-error *ngIf="formGroup.controls.data.get('name').invalid"
            >Name is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field
          *ngIf="formGroup.controls.data.get('type').value === 'g'"
        >
          <mat-label>Enter Chat Url</mat-label>
          <input matInput [formControlName]="'chatKey'" type="url" />
          <mat-error *ngIf="formGroup.controls.data.get('chatKey').invalid"
            >Chat url is required!</mat-error
          >
        </mat-form-field>
        <fieldset>
          <legend>Location</legend>
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select [formControlName]="'category'">
              <mat-option
                *ngFor="let category of categories"
                [value]="category.value"
              >
                {{ category.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Enter Location (latitude,longitude)</mat-label>
            <div class="btn_form_bar">
              <div class="btn_form">
                <div class="map container">
                  <a href="https://maps.google.com" target="_blank">
                    <img class="img" />
                  </a>
                </div>
              </div>
            </div>
            <input matInput [formControlName]="'position'" />
            <mat-error *ngIf="formGroup.controls.data.get('position').invalid"
              >Position is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Reference link (Google, Booking etc.)</mat-label>
            <input matInput [formControlName]="'urlRef'" />
            <mat-error *ngIf="formGroup.controls.data.get('urlRef').invalid"
              >Address is required!</mat-error
            >
          </mat-form-field>
        </fieldset>
        <fieldset formGroupName="range">
          <legend>Time</legend>
          <mat-form-field>
            <mat-label>From</mat-label>
            <input matInput formControlName="start" type="datetime-local" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>To</mat-label>
            <input matInput formControlName="end" type="datetime-local" />
          </mat-form-field>
          <mat-error *ngIf="formGroup.controls.data.get('range').invalid"
            >Invalid Range</mat-error
          >
        </fieldset>
        <mat-slide-toggle
          *ngIf="!isMain"
          [formControlName]="'optional'"
          labelPosition="before"
          >Optional</mat-slide-toggle
        >
        <fieldset formGroupName="capacity" *ngIf="isMain || formGroup.controls.data.get('optional').value">
          <legend>Capacity</legend>
          <mat-form-field>
            <mat-label>Min</mat-label>
            <input matInput formControlName="min" type="number" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Max</mat-label>
            <input matInput formControlName="max" type="number" />
          </mat-form-field>
          <mat-error *ngIf="formGroup.controls.data.get('capacity').invalid"
            >Invalid Range</mat-error
          >
        </fieldset>
        <fieldset>
          <legend>Description (min. 10, max. 160)</legend>
          <div legend-right>
            {{ formGroup.controls.data.get('desc').value.length }}
          </div>
          <mat-form-field>
            <textarea
              matInput
              [formControlName]="'desc'"
              rows="5"
              maxlength="160"
            ></textarea>
            <mat-error *ngIf="formGroup.controls.data.get('desc').invalid"
              >Description is required!</mat-error
            >
          </mat-form-field>
        </fieldset>
        <mat-form-field
          *ngIf="
            formGroup.controls.data.get('type').value === 'c' ||
            formGroup.controls.data.get('type').value === 'g'
          "
        >
          <mat-label>Enter Telephone Number</mat-label>
          <input matInput [formControlName]="'telNum'" />
          <mat-error *ngIf="formGroup.controls.data.get('telNum').invalid"
            >Telephone Number is required!</mat-error
          >
        </mat-form-field>
        <mat-slide-toggle [formControlName]="'ticket'" labelPosition="before"
          >Ticket</mat-slide-toggle
        >
        <mat-slide-toggle *ngIf="isPriority && isMain" [formControlName]="'priority'" labelPosition="before"
          >Priority</mat-slide-toggle
        >
      </mat-expansion-panel>
      <mat-expansion-panel
        formGroupName="rule"
        *ngIf="formGroup.controls.data.get('priority').value"
      >
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.rule.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Rule</mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          <mat-slide-toggle
            [formControlName]="'balanced'"
            labelPosition="before"
            >Balanced Female/Male Ratio</mat-slide-toggle
          >
          <mat-form-field>
            <mat-label>Rate From</mat-label>
            <input matInput [formControlName]="'rate'" />
            <mat-error *ngIf="formGroup.controls.rule.get('rate').invalid"
              >Value is required!</mat-error
            >
          </mat-form-field>
          <mat-slide-toggle [formControlName]="'met'" labelPosition="before"
            >Has already met</mat-slide-toggle
          >
          <fieldset formGroupName="range">
            <legend>Time</legend>
            <mat-form-field>
              <mat-label>Date After</mat-label>
              <input
                matInput
                [matDatepicker]="pickerStart"
                formControlName="start"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerStart"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerStart></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Date Before</mat-label>
              <input
                matInput
                [matDatepicker]="pickerEnd"
                formControlName="end"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerEnd"
              ></mat-datepicker-toggle>
              <mat-datepicker #pickerEnd></mat-datepicker>
            </mat-form-field>
            <mat-error *ngIf="formGroup.controls.rule.get('range').invalid"
              >Invalid Range</mat-error
            >
          </fieldset>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel formGroupName="expense">
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.expense.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Expense</mat-panel-title>
        </mat-expansion-panel-header>
        <fieldset formGroupName="amount">
          <legend>Amount</legend>
          <mat-form-field>
            <mat-label>eg. 12.34</mat-label>
            <input matInput [formControlName]="'value'" />
            <mat-error
              *ngIf="
                formGroup.controls.expense.get('amount').get('value').invalid
              "
              >Value is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field>
            <mat-label>Currency</mat-label>
            <mat-select [formControlName]="'currency'">
              <mat-option
                *ngFor="let currency of currencies"
                [value]="currency.value"
              >
                {{ currency.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </fieldset>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
