<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-dialog-img">
  <ms-qrcode [qrCode]="qrCode" [camera]="camera" (msScanned)="onScanned($event)"></ms-qrcode>
</div>
<div mat-dialog-actions align="center">
  <button *ngIf="!camera" mat-icon-button (click)="turnCamera(true)">
    <mat-icon>cameraswitch</mat-icon>
  </button>
  <button *ngIf="camera" mat-icon-button (click)="turnCamera(false)">
    <mat-icon>qr_code</mat-icon>
  </button>
</div>
