<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>&nbsp;
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<form default *ngIf="formGroup" [formGroup]="formGroup">
  <div formGroupName="data">
    <fieldset>
      <legend>Group</legend>
      <mat-form-field>
        <mat-select [formControlName]="'key'" (selectionChange)="onSelect($event)">
          <mat-option *ngFor="let group of groups" [value]="group.value">
            {{ group.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button *ngIf="!selected.system" mat-raised-button color="warn" (click)="leave()">
        Leave
      </button>
      <button *ngIf="selected.value !== current" mat-raised-button color="primary" (click)="onClick()">
        Switch
      </button>
    </fieldset>
    <div button-row>
      <button mat-raised-button color="accent" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</form>
