<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button mat-icon-button class="mat-close" (click)="onClick()">
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-dialog-img">
  <ms-editor *ngIf="data" [data]="data" (changed)="onChange($event)"></ms-editor>
</div>
<div mat-dialog-actions align="center">
  <button mat-icon-button (click)="rotate(-90)">
    <mat-icon>rotate_left</mat-icon>
  </button>
  <button mat-icon-button (click)="fileInput.click()">
    <mat-icon>image_search</mat-icon>
  </button>
  <input type="file" #fileInput class="file_button" (change)="selectFile($event)"/>
  <button mat-icon-button (click)="rotate(90)">
    <mat-icon>rotate_right</mat-icon>
  </button>
</div>
