<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button
    mat-icon-button
    class="mat-close"
    [style.background-color]="formGroup.valid ? 'yellowgreen' : '#f44336'"
    (click)="onClick()"
  >
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup">
    <mat-accordion>
      <mat-expansion-panel formGroupName="data">
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.data.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Group data</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Type</mat-label>
          <mat-select [formControlName]="'type'">
            <mat-option *ngFor="let type of types" [value]="type.value">
              {{ type.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Visibility</mat-label>
          <mat-select [formControlName]="'visibility'">
            <mat-option *ngFor="let visibility of visibilities" [value]="visibility.value">
              {{ visibility.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Enter name</mat-label>
          <input matInput [formControlName]="'name'" />
          <mat-error *ngIf="formGroup.controls.data.get('name').invalid"
            >Name is required!</mat-error
          >
        </mat-form-field>
        <fieldset>
          <legend>Description (min. 10, max. 160)</legend>
          <div legend-right>
            {{ formGroup.controls.data.get('desc').value.length }}
          </div>
          <mat-form-field>
            <textarea
              matInput
              [formControlName]="'desc'"
              rows="5"
              maxlength="160"
            ></textarea>
            <mat-error *ngIf="formGroup.controls.data.get('desc').invalid"
              >Description is required!</mat-error
            >
          </mat-form-field>
        </fieldset>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.images.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Images</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card
          matRipple
          default
          *ngFor="let n of numSequence(1); let i = index"
          (click)="openDialog(i)"
        >
          <img *ngIf="images.length > i" mat-card-image [src]="images[i]" />
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
