<h1 mat-dialog-title>
  <button mat-icon-button class="mat-cancel" (click)="back()">
    <mat-icon>arrow_backward</mat-icon>
  </button>
  &nbsp;
  <button
    mat-icon-button
    class="mat-close"
    [style.background-color]="formGroup.valid ? 'yellowgreen' : '#f44336'"
    (click)="onClick()"
  >
    <mat-icon>done</mat-icon>
  </button>
</h1>
<mat-progress-bar
  [mode]="progress.mode"
  [value]="progress.value"
  [color]="progress.color"
></mat-progress-bar>
<div mat-dialog-content class="mat-form">
  <form default [formGroup]="formGroup">
    <mat-accordion>
      <mat-expansion-panel formGroupName="data">
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.data.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Personal data</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field>
          <mat-label>Registration number</mat-label>
          <input
            matInput
            [formControlName]="'regNum'"
            placeholder="e.g. SA-335CO"
          />
          <mat-error *ngIf="formGroup.controls.data.get('regNum').invalid"
            >Registration Number is required!</mat-error
          >
          <button class="help" (click)="help('regNum')">
            <mat-icon>help</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Make</mat-label>
          <input matInput [formControlName]="'make'" placeholder="e.g. Ford" />
          <mat-error *ngIf="formGroup.controls.data.get('make').invalid"
            >Make is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Model</mat-label>
          <input
            matInput
            [formControlName]="'model'"
            placeholder="e.g. Focus"
          />
          <mat-error *ngIf="formGroup.controls.data.get('model').invalid"
            >Model is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Color</mat-label>
          <input matInput [formControlName]="'color'" placeholder="e.g. blue" />
          <mat-error *ngIf="formGroup.controls.data.get('color').invalid"
            >Color is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Year</mat-label>
          <input
            matInput
            [formControlName]="'year'"
            placeholder="e.g. 1992"
            maxlength="4"
          />
          <mat-error *ngIf="formGroup.controls.data.get('year').invalid"
            >Year is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Capacity</mat-label>
          <input matInput [formControlName]="'capacity'" maxlength="4" />
          <mat-error *ngIf="formGroup.controls.data.get('capacity').invalid"
            >Capacity is required!</mat-error
          >
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header
          [style.background-color]="
            formGroup.controls.images.valid ? 'yellowgreen' : '#f44336'
          "
        >
          <mat-panel-title>Images</mat-panel-title>
        </mat-expansion-panel-header>

        <mat-card
          matRipple
          default
          *ngFor="let n of numSequence(1); let i = index"
          (click)="openDialog(i)"
        >
          <img *ngIf="images.length > i" mat-card-image [src]="images[i]" />
        </mat-card>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
</div>
