.chat {
    overflow: hidden;
}

.main_div {
    margin-top: 0.5em;
    position: relative;
}

.msg_div {
    min-width: 20vw;
    word-wrap: break-word;
    white-space: pre-wrap;
    border-radius: 10px;
    box-shadow: 0 3px 12px rgba(0,0,0, 0.16), 0 3px 1px rgba(0,0,0, 0.1);
    padding: 1em;
    //min-height: 4.5em;
    font-size: 0.85em;
}

.bar_div {
    display: flex;
}

.bar_div .bar_msg {
    margin: 0.5vh;
    background: wheat;
    width: 100%;
}

.bar_div .bar_btn {
    position: absolute;
    margin: 0.5vh 1vh;
}

.msg_div a {
    color: black;
}

.question {
    float: right;
}

.question .msg_div  {
    min-height: 10vw;
    background: lightblue;
}

.answer {
    float: left;
    //filter: opacity(40%);
}

.answer .msg_div  {
    min-height: 10vw;
    background: lightcoral;
}

.avatar_bottom_bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap;
    height: 1.5em;
}

.msg_time {
    position: absolute;
    right: 0.5vh;
    font-style: italic;
    font-weight: bold;
    background-color: wheat;
    border-radius: 30%;
    top: -1vh;
}

.avatar_top_bar {
    display: flex;
    float: left;
    margin: 10px;
}

.avatar_bottom {
    //animation: avatar_anim 0.8s forwards;
    display: block;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
}

.avatar_top {
    display: block;
    width: 3em;
    height: 3em;
    margin: auto;
    border-radius: 50%;
}

@-webkit-keyframes avatar_anim {
    60% {
        transform: scale(2, 2);
    }
}

@keyframes avatar_anim {
    20% {
        transform: scale(2, 2);
    }
    60% {
        transform: scale(0.8, 0.8);
    }
}